*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: azure;}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{background-color:rgb(246, 245, 242);
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
nav{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}