*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: azure;}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{background-color:rgb(246, 245, 242);
    background: url(images/developer.png) ,url(images/header_bg.png), rgb(246, 245, 242) ;
    padding-top: 50px;
background-repeat: no-repeat;
background-position: 0px 0px, bottom right;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
nav{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#banar .banar_contain{
    max-width: 585px;
}
#banar{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
#banar .banar_contain h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banar .banar_contain h1{
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banar .banar_contain p{
    font-size: 18px;
    color: #474747S;
    list-style: 30px;
     margin-bottom: 30px;
}
#banar .banar_imag img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
#about .about_contain{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
.section_head{
    max-width: 827px;
    text-align: center;
}
.section_head h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section_head p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
#about .about_contain .about_info{
    display: flex;
    justify-content:space-around;
}
.about_info .info_card p{
 font-size: 20px;
    margin-bottom: 30px;
    color: #757575;
}
.about_info .info_card h4{
    font-size: 20px;
}